#login, #register {
    width: 80%;
    max-width: 31.25rem;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #f9f9f9;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

#register {
    display: none;
}

#login h2, #register h2 {
    margin-bottom: 1.5rem;
    color: #333;
    font-size: 1.5rem;
}

#login label, #register label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
    font-size: 1.125rem;
}

#login input, #register input {
    width: 100%;
    padding: 0.625rem;
    margin-bottom: 1.25rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.25rem;
    font-size: 1rem;
    color: #333;
    box-sizing: border-box;
}

#login input[type="submit"], #register input[type="submit"] {
    width: auto;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#login input[type="submit"]:hover, #register input[type="submit"]:hover {
    background-color: #0056b3;
}

#switch-btn {
    display: block;
    padding: 0.5rem 1rem;
    margin: 1rem auto;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#switch-btn:hover {
    background-color: #0056b3;
}

#error-msg {
    width: 80%;
    max-width: 31.25rem;
    margin: 1rem auto;
    padding: 1rem;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    border-radius: 0.25rem;
    text-align: center;
}