* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f5f5f5;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    align-items: center;
    padding: 0.625rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo a {
    display: flex;
    align-items: center;
}

header .logo img {
    margin-left: 5rem;
    height: 3.125rem;
}

header .logo .title {
    color: #333;
    font-size: 1.5rem;
}

header .logo .title:hover {
    color: #007BFF;
}   

header nav  {
    margin-right: 5rem;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 1.25rem;
}

header nav ul li a {
    color: #333;
    font-size: 1.125rem;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #007BFF;
}

header .menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
    position: absolute;
    right: 0;
    margin-right: 3%;
}

header .menu-toggle div {
    width: 2rem;
    height: 0.015625rem;
    background: #333;
    border-radius: 0.625rem;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}



@media (max-width: 48rem) {
    header {
        justify-content: flex-start;
    }

    header .logo img {
        margin-left: 0rem;
    }

    header .menu-toggle {
        display: flex;
    }

    header nav ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #f9f9f9;
    }

    header nav ul {
        transition: transform 0.3s ease-in-out;
        transform: translateY(-100%);
    }
    
    header nav.active ul {
        transform: translateY(0);
    }

    header nav ul li {
        margin: 1.25rem 0;
    }

    header nav ul li a {
        font-size: 1.25rem;
    }
}

